pkgbase = shibumi-shell
	pkgdesc = Transactional Shibumi desktop shell plugins for Omarchy Quattro
	pkgver = 0.1.1beta.8
	pkgrel = 1
	url = https://github.com/HANCORE-linux/Shibumi-Shell
	arch = any
	license = MIT
	depends = omarchy
	depends = quickshell
	depends = python
	depends = jq
	depends = curl
	depends = networkmanager
	depends = power-profiles-daemon
	depends = upower
	depends = xdg-utils
	depends = libnotify
	depends = wl-clipboard
	depends = ttf-material-symbols-variable
	depends = ttf-jetbrains-mono-nerd-basic
	depends = noto-fonts-cjk
	depends = adwaita-fonts
	optdepends = cava: live media spectrum
	optdepends = ffmpegthumbnailer: video picker thumbnails
	optdepends = imagemagick: additional media thumbnails
	optdepends = btop: battery panel system monitor action
	optdepends = nvidia-utils: NVIDIA GPU telemetry
	optdepends = git: source-checkout diagnostics and migration
	source = shibumi-shell-0.1.1-beta.8.tar.gz::https://github.com/HANCORE-linux/Shibumi-Shell/releases/download/v0.1.1-beta.8/shibumi-shell-0.1.1-beta.8.tar.gz
	sha256sums = 7f1e3576fbf74104485ec6254b7db1f6d83fb53e3364c6f681cf0091ae19edd8

pkgname = shibumi-shell
